@charset "utf-8";

@function rem($px) {
	@return $px*(1/10)*1rem;
}

.cp-back-receive {
	position: relative;
	font-size: 0;

	.cp-input {
		background: rgba(0,0,0,0);
		width: rem(240);
		height: rem(27);
		position: absolute;
		top: rem(352);
		left: rem(47);
		text-align: center;
		font-size: rem(16);
		line-height: rem(27);
		font-weight: bold;
	}

	.cp-btn-box {
		width: rem(116);
		position: absolute;
		left: 50%;
		top: rem(398);
		margin-left: rem(-60);

		.cp-btn {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			-webkit-tap-highlight-color: rgba(0,0,0,0);
			-webkit-transform: scale3d(1,1,1);
			transform: scale3d(1,1,1);
		}
	}
}

.cp-back-friends {
	display: none;
	font-size: 0;

	.cp-back-friendstop {
		position: relative;
		z-index: 1;
	}

	.cp-friends-list {
		background: url("../images/coupon_borderimg_02.jpg") repeat-y 0 0;
		background-size: 100%;
		position: relative;
		z-index: 2;

	}

	.cp-back-friendsbottom {
		position: relative;
		z-index: 1;
	}
}

ul {
	margin: rem(-15) rem(37) rem(-15);

	li:nth-child(1) {
		margin-top: 0;
	}

	li {
		margin-top: rem(10);
		font-weight: bold;

		.cp-friendimg-box {
			float: left;
			width: rem(43);
			height: rem(41);
			position: relative;

			img {
				width: rem(30);
				height: rem(30);
				position: absolute;
				left: rem(6);
				top: rem(6);
				z-index: 1;
			}

			.cp-friendimg-cover {
				width: rem(43);
				height: rem(41);
				background: url("../images/coupon-userimg-border.png") no-repeat 0 0;
				background-size: rem(43) rem(41);
				position: absolute;
				left: 0;
				top: 0;
				z-index: 10;
			}
		}

		.cp-friendtext-box {
			float: left;
			margin: rem(7) 0 0 rem(7);

			.cp-friend-nameanddate {
				font-size: rem(10);
				line-height: rem(14);

				i {
					color: #ffffff;
				}
			}

			.cp-friend-content {
				font-size: rem(10);
				line-height: rem(14);
			}
		}

		.cp-friend-num {
			float: right;
			margin-top: rem(20);
			font-size: rem(12);
			line-height: rem(16);
		}
	}
}


.cp-back-spread {
	position: relative;
	font-size: 0;
}





