@charset "utf-8";

@function rem($px) {
	@return $px*(1/10)*1rem;
}

@font-face {
	font-family: 'FZYHJW-forcoupon';
	src: url('../fonts/FZYHJW-forcoupon1.eot');
	src: url('../fonts/FZYHJW-forcoupon1.eot?#iefix') format("embedded-opentype"), url('../fonts/FZYHJW-forcoupon1.woff') format("woff"), url('../fonts/FZYHJW-forcoupon1.ttf') format("truetype"), url('../fonts/FZYHJW-forcoupon1.otf') format("opentype");
}

.cp-back-title {
	font-size: 0;
	font-family: FZYHJW-forcoupon;

	.cp-back-hideimg {
		position: absolute;
		left: 0;
		top: 0;
		width: 0;
		height: 0;
		opacity: 0;
	}
}

.cp-back-receive {
	position: relative;
	font-size: 0;
	display: none;

	.cp-input {
		background: rgba(0,0,0,0);
		width: rem(240);
		height: rem(27);
		position: absolute;
		top: rem(108);
		left: rem(47);
		text-align: center;
		font-size: rem(16);
		line-height: rem(27);
		font-weight: bold;
	}

	.cp-receivebtn-box {
		width: rem(116);
		position: absolute;
		left: rem(102);
		top: rem(154);

		.cp-btn-receive {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			-webkit-tap-highlight-color: rgba(0,0,0,0);
			-webkit-transform: scale3d(1,1,1);
			transform: scale3d(1,1,1);
		}
	}
}

.cp-back-result {
	font-family: FZYHJW-forcoupon;
	color: #ffffff;
	-webkit-text-stroke: rem(0.5) #000;
	position: relative;
	font-size: 0;
	display: none;

	.cp-resultbtn-box {
		width: rem(123);
		position: absolute;
		top: rem(204);
		left: rem(98);

		.cp-btn-result {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			-webkit-tap-highlight-color: rgba(0,0,0,0);
			-webkit-transform: scale3d(1,1,1);
			transform: scale3d(1,1,1);
		}
	}

	.cp-truetext {
		margin: -2px 0 0 -2px;
	}

	.shadow {
		color: #000000;
	}

	.cp-resulttext-title {
		width: rem(26);
		height: rem(100);
		position: absolute;
		top: rem(32);
		left: rem(40);
		font-size: rem(26);
		text-align: center;
		line-height: rem(28);
	}

	.cp-resulttext-number {
		font-family: FZYHJW-forcoupon;
		position: absolute;
		top: rem(30);
		left: rem(150);
		font-size: rem(60);
	}

	.cp-resulttext-unit {
		font-family: FZYHJW-forcoupon;
		position: absolute;
		top: rem(60);
		left: rem(190);
		font-size: rem(30);
	}

	.cp-resulttext-content {
		font-family: FZYHJW-forcoupon;
		position: absolute;
		top: rem(60);
		left: rem(104);
		font-size: rem(13);
	}

	.cp-resulttext-code {
		font-family: FZYHJW-forcoupon;
		width: rem(210);
		height: rem(30);
		position: absolute;
		top: rem(114);
		left: rem(80);
		font-size: rem(20);
		line-height: rem(30);
		text-align: center;
	}
}

.cp-back-end {
	font-size: 0;
	display: none;
}

.cp-back-friends {
	display: none;
	font-size: 0;

	.cp-back-friendstop {
		position: relative;
		z-index: 1;
	}

	.cp-friends-list {
		background: url("../images/coupon/coupon_borderimg_02.jpg") repeat-y 0 0;
		background-size: 100%;
		position: relative;
		z-index: 2;
	}

	.cp-back-friendsbottom {
		position: relative;
		z-index: 1;
	}
}

.cp-friends-ul {
	margin: rem(-15) rem(37) rem(-15);

	li:nth-child(1) {
		margin-top: 0;
	}

	li {
		margin-top: rem(10);
		font-weight: bold;
		position: relative;

		.cp-friendimg-box {
			float: left;
			width: rem(43);
			height: rem(41);
			position: relative;

			img:nth-of-type(1) {
				width: rem(30);
				height: rem(30);
				position: absolute;
				left: rem(6);
				top: rem(6);
				z-index: 1;
			}

			img:nth-of-type(2) {
				width: rem(30);
				height: rem(30);
				position: absolute;
				left: rem(6);
				top: rem(6);
				z-index: 2;
			}

			.cp-friendimg-cover {
				width: rem(43);
				height: rem(41);
				background: url("../images/coupon/coupon-userimg-border.png") no-repeat 0 0;
				background-size: rem(43) rem(41);
				position: absolute;
				left: 0;
				top: 0;
				z-index: 10;
			}
		}

		.cp-friendtext-box {
			float: left;
			margin: rem(7) 0 0 rem(7);

			.cp-friend-name {
				float: left;
				font-size: rem(10);
				line-height: rem(14);
				max-width: rem(51);
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}

			.cp-friend-date {
				float: left;
				font-size: rem(10);
				line-height: rem(14);
				color: #ffffff;
				text-indent: rem(5);
			}

			.cp-friend-content {
				font-size: rem(10);
				line-height: rem(14);
				width: rem(160);
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}

		.cp-friend-num {
			position: absolute;
			top: rem(18);
			right: 0;
			font-size: rem(12);
			line-height: rem(16);
		}
	}
}


.cp-back-spread {
	position: relative;
	font-size: 0;
	margin-bottom: 46px;

	.cp-back-productbox {
		position: relative;

		.cp-back-productbtn {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;

		}
	}

}

.loadcover {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #ffd600;
	z-index: 999;
	display: none;
}



