@charset "utf-8";

@function rem($px) {
	@return $px*(1/10)*1rem;
}

.freecoupon-title {
	font-size: 0;
}

.freecoupon-back {
	position: relative;
	font-size: 0;

	.freecoupon-btn-box {
		width: rem(198);
		height: rem(54);
		position: absolute;
		left: rem(62);
		top: rem(157);

		.freecoupon-btn {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			-webkit-tap-highlight-color: rgba(0,0,0,0);
			-webkit-transform: scale3d(1,1,1);
			transform: scale3d(1,1,1);
		}
	}
}

