@charset "utf-8";

@function rem($px) {
	@return $px*(1/10)*1rem;
}

.freecoupon-title {
	display: none;
	font-size: 0;
}

.freecoupon-back-isnotvip {
	position: relative;
	font-size: 0;
	display: none;

	.freecoupon-btn-box {
		width: rem(198);
		height: rem(54);
		position: absolute;
		left: rem(62);
		top: rem(145);

		.freecoupon-btn {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			-webkit-tap-highlight-color: rgba(0,0,0,0);
			-webkit-transform: scale3d(1,1,1);
			transform: scale3d(1,1,1);
		}
	}
}

.freecoupon-back-isvip {
	position: relative;
	font-size: 0;
	display: none;

	.freecoupon-btn-box {
		width: rem(123);
		height: rem(53);
		position: absolute;
		left: rem(101);
		top: rem(142);

		.freecoupon-btn {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			-webkit-tap-highlight-color: rgba(0,0,0,0);
			-webkit-transform: scale3d(1,1,1);
			transform: scale3d(1,1,1);
		}
	}
}

