@charset "utf-8";

@function rem($px) {
	@return $px*(1/10)*1rem;
}

.fcs-back-title {
	font-size: 0;

	.fcs-back-hideimg {
		position: absolute;
		left: 0;
		top: 0;
		width: 0;
		height: 0;
		opacity: 0;
	}
}

.fcs-banner-box {
	width: 100%;
	height: 46px;
	position: relative;
	background: rgb(255,255,255);
	border-bottom: 1px solid #f9b100;
	z-index: 99;

	.fcs-banner-left {
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 2;
	}

	.fcs-banner-right {
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: 1;
	}

	.fcs-banner-btn {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 10;
	}
}

.fcs-back-title {
	font-size: 0;
}

.fcs-back-receive {
	position: relative;
	font-size: 0;

	.fcs-receivebtn-box {
		width: rem(116);
		position: absolute;
		left: rem(102);
		top: rem(145);

		.fcs-btn-receive {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			-webkit-tap-highlight-color: rgba(0,0,0,0);
			-webkit-transform: scale3d(1,1,1);
			transform: scale3d(1,1,1);
		}
	}
}

.fcs-back-spread {
	position: relative;
	font-size: 0;
	margin-bottom: 46px;

	.fcs-back-productbox {
		position: relative;

		.fcs-back-productbtn {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;

		}
	}

}




