@charset "utf-8";

//@function rem($px) {
//	@return $px*(1/16)*1rem;
//}

@font-face {
	font-family: 'AmplitudeWide-Ultra';
	src: url('../fonts/AmplitudeWide-Ultra.ttf') format("truetype");
}

.gs-cover-box {
	width: 100%;
	padding-top: 74.68%;
	position: relative;

	.gs-cover-back {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
	}
}

.gs-name-box {
	height: 29px;
	background: #00a0e8;
	position: relative;
	margin-bottom: 40px;

	.gs-triangle {
		width: 0;
		height: 0;
		border-top: 12px solid #00a0e8;
		border-left: 12px solid transparent;
		border-right: 12px solid transparent;
		position: absolute;
		bottom: -12px;
		left: 10%;
	}

	.gs-name {
		font-size: 34px;
		font-weight: bold;
		line-height: 34px;
		position: absolute;
		left: 10px;
		bottom: 10px;
	}

	.gs-size {
		font-family: 'AmplitudeWide-Ultra';
		font-size: 15px;
		font-weight: bold;
		line-height: 15px;
		position: absolute;
		right: 30px;
		bottom: 6px;
	}
}

.gs-info-box {
	position: relative;
	margin-bottom: 40px;

	.gs-cost {
		position: absolute;
		left: 5px;
		top: 10px;
		font-family: 'AmplitudeWide-Ultra';
		font-size: 26px;
		font-weight: bold;
		line-height: 26px;
		color: #34abea;

		i {
			font-size: 50px;
			font-weight: bold;
		}
	}

	.gs-info {
		margin-left: 140px;
		margin-right: 20px;
		font-size: 12px;
		line-height: 18px;
		color: #acacac;
	}
}

.gs-downloadbtn {
	display: block;
	width: 120px;
	font-size: 15px;
	line-height: 35px;
	text-align: center;
	border-radius: 18px;
	color: #ffffff;
	background: #00a0e8;
	margin: 0 auto 40px;
}


